
:root {
    --primary-color: #fce138;
    --secondary-color: purple;
    --tertiary-color: white;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
      text-align: center;
  }


  header {
  padding: 10px 10px 60px 10px;
  background-attachment: fixed;
  background-position: 80%;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  }
  .hide {
      display: none;
  }

.center {
      text-align: center;
  }
.timer {
    float: right;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
main p {
    font-size: 18px;
}
li {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    width: 30%;
    display:block;
    border-radius: 5px;
    border: none; 
}

button {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: none; 
}

button a {
    color: var(--tertiary-color);
    text-decoration: none;
}
button a:hover {
    color: var(--tertiary-color);
    text-decoration: none;
}
#question-right-wrong {
    border-top: 2px solid grey;
}
#choices {
    text-align: center;
    padding: 0 auto 0 auto;
    width: auto;
}

.highscores {
text-align: center;
}
